.section2 {
  overflow: hidden;
  &__inner{
    h2 {
      // margin:  -14rem;
      margin-top:  7.3rem;
      margin-bottom: 2rem;
    }
    .bottom-text{
      position: absolute;
      width: 55rem;
      top:  52rem;
      left: 50%;
      transform: translateX(-50%);

      margin: 0;

      font-size: 4.8rem;
      font-weight: 700;
      line-height: 4.8rem;
    }

    .active{
      .bottom-text{
        display: none;
      }
    }
    .center{
      .img-item{
        transform: translate(-50%, -50%) scale(.9) !important;
      }
      .bottom-text{
        display: block;
      }
    }

    .owl-carousel {
      .owl-stage-outer {
        height: 65.4rem;
        .owl-stage {
          .owl-item {
            min-height: 53rem;
            position: relative;
            text-align: center;
            // width:  32.2rem !important;
              .img-item {
                margin: 0 auto;
                position: absolute;
                top: 4rem;
                top:  50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(.7);

                // width:  32.2rem !important;
                // height: 35.8rem;
                max-width: initial;

                transition: all .3s ease;

                @include sm {
                  transform: translate(-50%, -50%) scale(.6) !important;
                }
            }
          }
        }
      }
    }

    // absolute elements
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 32%;
      z-index: 1;
      transform:translateX(-50%);

      height: 3.8rem;
      width:  3.8rem;
      border: .1rem solid !important;
      border-radius: 50% !important;
      background: url(../img/section2/arrow-back.png) no-repeat 0.95rem center/35% !important;

      &:focus{
        outline: none;
      }

    }
    .owl-prev{
      left: 50%;
      margin-left: -24.7rem - 2.5rem;
      @include sm{
        left: 19%;
        margin-left: -0.7rem;
      }
    }
    .owl-next{
      margin-left: 23rem + 2.5rem;
      left: 50%;
      transform: rotate(180deg);
      
      @include sm{
        right: 19%;
      }
    }
    // absolute elements
    .owl-dots{
      margin-top:      1rem;
      margin-bottom: 7.1rem;
      display: flex;
      text-align: center;
      justify-content: center;
      .owl-dot{
        @include dot()
      }
    }
  }
}
