=lg
  @media (max-width: 1240px)
    @content

=md
  @media (max-width: 992px)
    @content

=sm
  @media (max-width: 768px)
    @content

=xs
  @media (max-width: 576px)
    @content

=xxs
  @media (max-width: 360px)
    @content

=separator
  display: block
  background: currentColor
  width:  3.81837rem
  height:      .1rem
  transform: rotate(-45deg)

=no-select
  user-select: none
  pointer-events: none